# Python
venv/
__pycache__/
*.pyc

# Database
radio.db

# Sub-repositories and old projects
m3u-radio-music-playlists/
old_webradio/

# Temporary and backup files
*_old.py
*.zip
logo_urls.txt
*.log

# Other
Cook Islands/